<h3>An error occured whilst processing your request. Our support team has been notified and are working to correct the issue.</h3>

@*<h3>Exception Details:</h3>
<div class="alert alert-danger">
    <h5>Exception Path</h5>
    <hr />
    <p>@ViewBag.ExeptionDetails</p>
</div>

<div class="alert alert-danger">
    <h5>Exception Message</h5>
    <hr />
    <p>@ViewBag.ExeptionMessage</p>
</div>

<div class="alert alert-danger">
    <h5>Exception Trace</h5>
    <hr />
    <p>@ViewBag.StackTrace</p>
</div>*@